<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!-- ProductRepository productRepository = new ProductRepositoryImpl();-->
<!--    <bean id="productRepository" class="dom.repository.ProductRepositoryImpl" scope="prototype"/>-->
<!--    <bean id="productRepository" class="dom.repository.ProductRepositoryImpl" scope="singleton"-->
<!--    init-method="init" destroy-method="destroy"/>-->
<!--    <bean id="productService" class="dom.service.ProductServiceImpl">-->
<!--        &lt;!&ndash; <constructor-arg ref="productRepository"/> &ndash;&gt;-->
<!--        <property name="productRepository" ref="productRepository"/>-->
<!--    </bean>-->
<!--    Create and inject another Repository named ProductRepositoryNewImpl along with the previous repository in a single constructor-->
        <context:component-scan base-package="dom"/>
</beans>