<div class="container" >
    <br>
 <h5>Employee Details</h5>
 <div>
    <div  class="table-striped" style="width:500px">
       <table class="table">
          <thead>
             <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Send Away</th>
                <th>Change</th>
             </tr>
          </thead>
          <tbody>
            <!-- angular takes care of DOM manipulation -->
            <!-- structural directive -->
            <tr *ngFor="let employee of employees">
             <!-- {{}} string interpolation-->
             <td>{{employee.id}}</td>
             <td>{{employee.name | uppercase}}</td>
             <td>{{employee.salary | currency}}</td>
             <td><button (click)="deleteEmployee(employee)" class="btn btn-danger" >Delete</button></td>
             <td><button (click)="updateEmployee(employee.id)" class="btn btn-warning" >Update</button></td>
            </tr>
          </tbody>
       </table>
    </div>   
 </div>
 </div>
 